<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Login
    </h1>
    <form action="/login" method="POST" class="form-box">
        <label for="account">account</label>
        <input name="account" type="text">
        <label for="password">password</label>
        <input name="password" type="password">
        <button>submit</button>
    </form>

</body>

</html>