body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-box{
  display: flex;
  flex-direction: column;
}
.form-box input,.form-box button{
  width: 200px;
  padding: 0;
  margin-bottom: 10px;
}